<title>Node.js Getting Started on Heroku</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://192.168.0.69:3000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <script>
$(function(){
var socket_io_ip = "http://192.168.0.69:3000";
var socket = io.connect(socket_io_ip);
 socket.on('connect', function () {
        params_data = {user_id: 4};
        socket.emit('set_data', params_data);
    });
});

</script>

